@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered mt-2">
    <tr>
        <th>#</th>
        <th>Seri No</th>
        <th>Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Toplam</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Güncelle</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.FaturaId</td>
    <td>@item.FaturaSeriNo</td>
    <td>@item.FaturaSıraNo</td>
    <td>@item.VergiDairesi</td>
    <td>@item.Tarihi</td>
    <td>@item.Saat</td>
    <td>@item.TeslimEden</td>
    <td>@item.TeslimAlan</td>
    <td><a href="/Fatura/FaturaGetir/@item.FaturaId" class="btn btn-outline-success"><i class="fas fa-magic"></i></a></td>
    <td><a href="/Departman/DepartmanDetay/@item.FaturaId" class="btn btn-outline-info"><i class="fas fa-expand"></i></a></td>

</tr>
    }


</table>
<a href="@Url.Action("DepartmanEkle","Departman")" class="btn btn-primary" data-toggle="tooltip" data-placement="right" title="Yeni Kategori Ekle"><i class="fas fa-plus"></i></a>

@section scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}


