@model Cariler
@{
    ViewBag.Title = "CariEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Cari Ekle</h2>
<br />
<form class="form-group" method="post">
    @Html.Label("Cari Adı")
    @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
    @Html.AntiForgeryToken()
    <br />
    @Html.Label("Cari Soyadı")
    @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
    @Html.AntiForgeryToken()
    <br />
    @Html.Label("Cari Şehri")
    @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
    @Html.AntiForgeryToken()
    <br />
    @Html.Label("Cari Mail")
    @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
    @Html.AntiForgeryToken()
    <br />
    <button class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Kaydet"><i class="fas fa-clipboard"></i></button>
</form>
@section scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
}
